<%= form_with(model: postagem, local: true) do |form| %>
  <% if postagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(postagem.errors.count, "error") %> prohibited this postagem from being saved:</h2>

      <ul>
      <% postagem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :postagem_titulo %>
  </div>

  <div class="field">
    <%= form.label :post %>
    <%= form.text_area :post, id: :postagem_post %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
