<p id="notice"><%= notice %></p>

<h1>CineForum</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Gênero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postagems.each do |postagem| %>
      <tr>
        <td><%= postagem.titulo %></td>
        <td><%= postagem.post %></td>
        <td><%= link_to 'Mostrar', postagem %></td>
        <% if can? :manage, Postagem %>
         <td><%= link_to 'Editar', edit_postagem_path(postagem) %></td>
         <td><%= link_to 'Destruir', postagem, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manage, Postagem %>
 <%= link_to 'Nova Postagem', new_postagem_path %>
<% end %>
