<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @postagem.titulo %>
</p>

<p>
  <strong>Gênero:</strong>
  <%= @postagem.post %>
</p>
<% if can? :manage, Postagem %>
 <%= link_to 'Editar', edit_postagem_path(@postagem) %>
<% end %>

<%= link_to 'Voltar', postagems_path %>

<br><br>

<h2>Críticas</h2>

    <div id="criticas">
        <%# Expands to render partial: 'criticas/critica' , collection: @postagem.criticas %>
        <%= render @postagem.criticas %>
    </div>
    
    <%= render 'criticas/new', postagem: @postagem %>
</div>
