<!DOCTYPE html>
<html>
  <head>
    <title>CineForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
  <%= link_to('Editar_registro', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  <%= link_to "Sing_Up", new_user_registration_path %>
  </li>
<% end %>

<div class = "creditos" > site da imagem de fundo <a href='http://allswalls.com'>http://allswalls.com</a> </div>
    <%= yield %>
  </body>
</html>
